[submodule "third-party/glfw"]
	path = third-party/glfw
	url = git@github.com:glfw/glfw.git
[submodule "third-party/imgui"]
	path = third-party/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "third-party/glm"]
	path = third-party/glm
	url = git@github.com:g-truc/glm.git
[submodule "third-party/stb"]
	path = third-party/stb
	url = git@github.com:nothings/stb.git
[submodule "third-party/tinyobjloader"]
	path = third-party/tinyobjloader
	url = git@github.com:tinyobjloader/tinyobjloader.git
